@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'bobby-jones';
    src: url("../src/fonts/Bobby Rough Soft.ttf");
  }
  


.DMSans {
    font-family: 'DM Sans', sans-serif;
}

.IBMPlex{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.NotoSansThai{
    font-family: 'Noto Sans Thai', sans-serif;
}

.bobbyJones {
    font-family: 'bobby-jones';
}