@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'Avenir Black';
    src: url('../src/fonts/Avenir Black.ttf') format('truetype'); /* Specify the path to Avenir Black font */
    font-weight: 900; /* The font weight for Avenir Black */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Medium';
    src: url('../src/fonts/Avenir Medium.ttf') format('truetype');
    font-weight: 500; /* The font weight for Avenir Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Regular';
    src: url('../src/fonts/Avenir Regular.ttf') format('truetype');
    font-weight: 400; /* The font weight for Avenir Regular */
    font-style: normal;
  }



  .coverCenter {
    background-position: center !important;
    background-size: cover !important;
  }

  .contact-us-form-sec  label {
    color: #795E32;
font-family: Avenir;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
  }
  

  
  .contact-us-form-sec select option {
    background: white;
  }
  
  .contact-us-form-sec textarea {
    background: #F5F5F5;
    border: 1px solid #795E32;
    border-radius: 5px;
  }
  
  .contact-us-form-sec input {
    
    border: 1px solid #795E32;
    height: 40px;
    border-radius: 5px;
  }
  .contact-us-form-sec input:focus {
    background: white;
  }
  
  .contact-us-form-sec textarea:focus {
    background: white;
  }  
  

  .homeSlider .react-slideshow-container button {
    background: transparent !important;
  }

  .homeSlider svg {
    fill: white;
    height: 60px !important;
    width: 60px !important;
}


.DMSans {
    font-family: 'DM Sans', sans-serif;
}


